<div class="info" id="list">
	<hr>
	<% @sentiments.each do |sentiment| %>
			<%= sentiment.text %> | 
			<%= sentiment.behavior %> | 
			<%= sentiment.rating %>
		<hr>
	<% end %>
</div>

<h4 id="link">
	<%= link_to 'Homepage', root_path %> | 
	<%= link_to 'Post', new_sentiment_path %>
</h4>	