<div class="info">
	<%= form_for @sentiment do |f| %>
		
		<%= f.label :text %>
		<%= f.text_field :text %>

		<%= f.submit 'Submit'%>

	<% end %>
</div>

<h4 id="link">
	<%= link_to 'Homepage', root_path %> | 
	<%= link_to 'Complete List', sentiments_path %>
</h4>